<h1>Account Info</h1>
<br>
<br>
<br>
<table class="table" id="info-table">
    <tr>
        <th>Username</th>
        <td>{{user.username}}</td>
    </tr>
    <tr>
        <th>First Name</th>
        <td>{{user.first_name}}</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>{{user.last_name}}</td>
    </tr>
    <tr>
        <th>Profession</th>
        <td>{{user.profession}}</td>
    </tr>
    <tr>
        <th>Biography</th>
        <td>{{user.bio}}</td>
    </tr>
    <tr>
        <th></th>
        <td></td>
    </tr>
</table>