<div class="user">
    <h1>User Detail</h1>
    <h2 class="single-label">Username: </h2><br>
        <h3 id="single-username">{{user.username}}</h3><br>
    <h2 class="single-label">First Name: </h2><br>
        <h3 id="single-first-name">{{user.FirstName}}</h3><br>
    <h2 class="single-label">Last Name: </h2><br>
        <h3 id="single-last-name">{{user.LastName}}</h3><br>
    <h2 class="single-label">Profession: </h2><br>
        <h3 id="single-profession">{{user.profession}}</h3><br>
    <h2 class="single-label">Bio: </h2><br>
        <h3 id="single-bio">{{user.Bio}}</h3><br>
</div>