<table class="table" id="localstorage-data">
    <thead>
    <tr>
        <th>Title</th>
        <th>DueDate</th>

        <th>Summary</th>
        <th>Body</th>
        <th></th>
    </tr>
    </thead>
    <tbody><tr>
        <td id="NoteTitle"> {{note.NoteTitle}}</td>
        <td id="NoteDueDate"> {{note.NoteDueDate}}</td>
        <td id="NoteSummary"> {{{note.NoteSummary}}}</td>
        <td id="NoteBody"> {{{note.NoteBody}}}</td>
        <td> <button type="button" class="btn btn-default" id="next">next</button></td>
    </tr>
    </tbody>
</table>

<button type="submit" class="btn btn-default" id="jumpToNewNote">Add new note</button>
<button type="button" class="btn btn-default" id="backToList">Back to List</button>
<input hidden value="{{note.id}}" id="noteId"/>
<div class="alert alert-danger hidden" id="form-alert">
</div>