<table class="table" id="note-data">
    <thead>
    <tr>
        <th>Title</th>
        <th>DueDate</th>
        <th>Summary</th>
        <th>Body</th>
    </tr>
    </thead>
    <tbody>
    {{#each noteList}}
        <tr>
            <td><a href="/note/{{id}}" class="peopleName"> {{NoteTitle}}</a></td>
            <td> {{NoteDueDate}}</td>
            <td> {{{NoteSummary}}}</td>
            <td> {{{NoteBody}}}</td>
        </tr>
    {{/each}}

    </tbody>
</table>
<button type="submit" class="btn btn-default" id="jumpToNewNote">Add new note</button>